<div class="container p-5">
    <div class="row">
        <div class="col-3 float-end" >
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}">
        </div>
        <div class="col-9">
            <h2 *ngIf="movie.title != ''">Title: {{movie.title}}</h2>
            <h2 *ngIf="movie.title != ''">Original title: {{movie.original_title}}</h2>
            <h2 *ngIf="movie.original_language != ''">Language: {{movie.original_language}}</h2>
            <h2 *ngIf="movie.overview != ''">Overview: {{movie.overview}}</h2>
            <h2 *ngIf="movie.popularity != ''">Popularity: {{movie.popularity}}</h2>
            <h2 *ngIf="movie.release_date != ''">Release date: {{movie.release_date}}</h2>
        </div>
    </div>
</div>