<div class="container">
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">List of movies</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" id="search-input" aria-label="Search" value={{search}}>
                <button class="btn btn-outline-success" type="submit" (click)="searchName()">Search</button>
            </form>
        </div>
    </nav>
    <div class="row row-cols-auto g-4">
        <div class="col" *ngFor="let movie of movies.results;">
            <div class="card" style="width: 18rem;">
                <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}" class="card-img-top">
                <div class="card-body d-grid gap-2">
                    <h3 class="card-title">{{movie.title}}</h3>
                    <a href="/movie-detail/{{movie.id}}" class="btn btn-warning">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>